body{
  display: grid;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.nav {
  background-color: lightgreen;
  color: white;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
}

.navtext {
  color: slateblue;
  font-weight: bold;
  text-align: center;
}


a {
  text-decoration: none;
}

.show-chore {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  margin: 1rem auto;
  flex-wrap: nowrap;

}

.chore {
  margin-right: 1rem;
}

.allchorespage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.all-chores {
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
  box-shadow: 5px 10px 15px;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.loginpage, .homepage, .registerform, .addchoreform {
  margin: 2%;
  border: .2rem solid hotpink;
  padding: 1%;
}

.loginform > *, .registerform > *, .addchoreinput > * {
  margin: .5%;
  padding: 1%;
}

.loginbutton > *, .registerbutton > *, .addchorebutton > * {
  background-color: slateblue;
  color: whitesmoke;
}

.homebutton {
  background-color: slateblue;
}

.homebutton > * {
  color: whitesmoke;
}

.brooms {
  height: 25%;
}

.homeimage {
  height: 40%;
}

.addchoreinput {
  text-align: center;
}

.addchore > {
  width: 4rem;
  text-align: center;
}
