body{
  display: grid;
  text-align: center;
}

.nav {
  background-color: lightgreen;
  color: white;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
}

.navtext {
  color: slateblue;
  font-weight: bold;
  text-align: center;
}


a {
  text-decoration: none;
}

.show-chore {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  margin: 1rem auto;
  flex-wrap: nowrap;

}

.chore {
  margin-right: 1rem;
}