{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ post.chore }}</h1>
  <h2>Created by: {{post.author.username}}</h2>
  <h3>Published: {{ post.date.strftime('%B %d, %Y') }}</h3>
  <p>{{post.description}}</p>
  <p>{{post.completed_by}}</p>
  <p>{{post.done}}</p>
   {% if post.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('chores.update', chore_id=post.id) }}">Update</a>
       <br>
       <form action="{{ url_for('chores.delete_post', chore_id=post.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}