{% extends "base.html" %}
{% block content %}
<div class="show-chore">
  <h1>{{ post.chore }}</h1>
  <p>Added on: {{ post.date.strftime('%B %d, %Y') }}</p>
  <p>Description: {{post.description}}</p>
  <p>Needs To Be Completed By: {{post.completed_by}}</p>
  {% if post.done==True %}
  <p>Done: Yes</p>
  {% else %}
  <p>Done: No</p>
  {% endif %}
   {% if post.author == current_user %}
     <div class="buttons">
       <button class="chore">
       <a href="{{ url_for('chores.update', chore_id=post.id) }}">Update</a>
      </button>
       <form action="{{ url_for('chores.delete_post', chore_id=post.id) }}" method="POST">
        <input class="delete" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}